{% extends 'nehlwebsite/base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h2 class="display-4">Help</h2>
            <p class="lead">
                Instructions on how to use this website.
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Completing a match card</h3>
                        <a class="btn btn-primary" role="button" href="{% static 'help/completing_a_match_card.pdf' %}" target="_blank">View</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}