{% extends 'nehlwebsite/base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

{% endblock %}

{% block content %}

    <div class="container-fluid banner-container">
        <div class="row banner">
            <div class="col">
                <div class="banner-title-container">
                    <h1 class="banner-title">NORTH EAST HOCKEY LEAGUE</h1>
                    <a role="button" class="btn btn-lg btn-primary btn-block text-white mt-4"
                       href="{% url 'clubs:index' %}">Find a club</a>
                </div>

            </div>
            <div class="col">
                <div class="banner-image"></div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="content-header">
            <h2 class="display-4">About Us</h2>
            <p class="lead">
                The North East Hockey League is a (field) hockey league based in the north east of England.
            </p>
        </div>
        <div class="row">
            <div class="col">
                <p>The North East Hockey League exists to promote outdoor hockey in Durham & Northumberland. It is
                    currently divided into 4 divisions, with Division 4 acting as a more relaxed, Conference-style
                    league.</p>
                <p>In 1956, Ashmores Hockey Club (formed by employees of Davey Ashmores Ltd of Stockton) wrote to local
                    clubs asking for support for a proposed league in County Durham. At the time, all clubs were playing
                    matches as friendlies, though teams tended to play the same clubs on the same weekends year-to-year.
                    At the 1971 Durham County AGM, Sunderland, one of the stronger clubs in the area, resurrected the
                    idea, and proposed that Northumberland be included.</p>
                <p>The first season was 1972/73 and consisted of the first XIs of 18 clubs. Clubs were expected to play
                    60% of other clubs to determine league positions, with league positions based on a win precentage.
                    Sunderland was the inaugural winner with an 88% success rate, followed by Furness on 78%. The first
                    committee was chaired by Ken Burton assisted by Jim Rutherford as secretary, with Eric Ryan becoming
                    the league's first elected Secretary. </p>
                <p>From those early league matches it was obvious that impartial umpiring was badly needed. Eric Ryan
                    was instrumental in the setting up what is now the Northumberland & Durham Hockey Umpires
                    Association (NDHUA) to provide neutral umpires for league games.</p>
                <p>In 1973 the number of clubs increased to 21 a separate league for second XIs was started, also with
                    21 teams. 1975 saw the leagues split into two divisions in each league, with 12 teams in each
                    division. After the formation of the Northern Premier League the winner was promoted automatically
                    into it, which increased the interest and standard of play in the North East.</p>
                <p>In 1991 the league became an open integrated arrangement, with the first XI league becoming Divisions
                    1 and 2, and the second XI league Divisions 3 and 4, and league hockey being opened up to any club
                    side wanting to participate. 1998 saw the Conference division appear for the first time, for lower
                    sides wishing to participate within a more relaxed format. In 2007 this became the Club Development
                    League.</p>
                <p>In 2019 England Hockey reorganised the national leagues, increasing the number of teams from 40 to
                    60. The subsequent reorganization led to the NEHL Premier League (what was the first XI league, then
                    Division 1) becoming Division 3 North East of the North League.</p>
            </div>
        </div>
    </div>

{% endblock %}