container_commands:
  collect_static:
    command: source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: nehlwebsite/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"