<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
    {% block title %}
    NEHL
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          integrity="pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" samesite="None">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'nehlwebsite/style.css' %}">#}
    {% block css %}

    {% endblock %}
</head>
<body>
    <div class="navbar navbar-dark fixed-top navbar-expand-lg navbar-toggleable-sm">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'index' %}" class="no-underline"><h1 class="text-white">NEHL</h1></a>
            </div>
            <button
                    class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'competitions:detail' 1 %}">Competitions</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'clubs:index' %}">Clubs</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'rules' %}">Rules</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'help' %}">Help</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'profile' %}">My Profile</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'login' %}">Log In</a></li>
                    {%  endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <hr />
    <div class="container footer-div">

        <footer>
            <p>&copy; North East Hockey League</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {%  block scripts %}

    {% endblock %}
</body>
</html>
