{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi,{% endblocktrans %}

{% trans "A user account has been created for you on the North East Hockey League website." %}

{% trans "This account will allow you to manage your club and teams." %}

{% trans "The player transfer form can be found under 'Manage Club' on your club page. Match card submission and fixture cancellation can be found under 'Manage Fixture' on each fixture page." %}

{% trans "On club's pages contact information can be found but you must be logged in." %}

{% trans "Please go to the following page and choose a password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username is:" %} {{ user.get_username }}

{% trans "This link is only valid for a week." %}

{% trans "Any issues contact us using https://northeasthockeyleague.org/contact" %}

{% trans "Kind regards," %}

{% trans "The North East Hockey League" %}

{% endautoescape %}
