{% extends 'nehlwebsite/base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'nehlwebsite/style.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Password Reset</h1>
        </div>

        <div class="alert alert-success" role="alert">
            We've emailed you instructions for resetting your password. You should receive the email shortly (Check your junk folder as well)!
        </div>
    </div>

{% endblock %}