{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi,{% endblocktrans %}

{% trans "A user account has been created for you on the North East Hockey League website." %}

{% trans "This account will allow you to manage your club and teams." %}

{% trans "On the website contact information can be found for other clubs but you must be logged in." %}

{% trans "Please go to the following page and choose a password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username is:" %} {{ user.get_username }}

{% trans "This link is only valid for a week." %}

{% trans "Kind regards," %}

{% trans "The North East Hockey League" %}

{% endautoescape %}
