//$theme-colors: (
//  "primary": #62268a,
//);

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CSS Document */

.header {
    background-color: #62268a;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.footer {
    height: 100px;
    background-color: #454746;
}

    .footer p {
        color: #FFF;
        padding-top: 40px;
    }

.navbar {
    background-color: #62268a;
}

#hamburger-icon {
    color: #FFF;
}

.padding-zero {
    padding: 0 !important;
}

.asteriskField {
    display: none;
}

.no-underline {
    text-decoration: none !important;
}

body {
    padding-top: 82px;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }

